html{
    background-color: #6c5b7b;
}

body {
margin: 0;
}

hr{
    background-color: #f67280; 
    height: 3px; 
    border: 0px;
}

h1{
    font-size: 64px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffdf89;

}

a{
    color: #aef8d3;
    font-size: 24px;
}

h2{
    font-size: 36px;
    color: #ffdf89;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cosas{
    font-style: bold;
}

#poema{
    font-style: italic;
    color: #ffaaf4;
    font-size: 28px;
    text-align: center;
}

ul{
    font-size: 24px;
}

ol{
    font-size: 24px;
    font-style: oblique;
}

table{
    color: #ffc2aa;
    font-size: 20px;
    text-transform: capitalize;
}

#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    position: fixed;
    overflow: auto;
    background-color: #6c5b7b;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */  
}

li a {
    display: block;
    color: #f67280;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    
}

li a:hover {
    background-color:  #f67280;
    color: #ffebb4;
}

li a.active {
    background-color: #ffc2aa;
    color: #ffebb4;
}

li a:hover:not(.active) {
    background-color:  #f67280;
    color: #ffebb4;
}

#sidenav{
    margin-left:12%;
    padding:1px 16px;
    height:100%;
    background-color: #C06c84;
    border: 3px solid #f67280;  
    padding: 30px;
    color: #ffebb4;
}

#sidenav p{
        text-shadow: 26px;
       font-size: 24px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #f67280

}

th {
background-color: #f8b195;
color: #C06c84;
}

