html{
    background-color: #6c5b7b;
    color: #ffc2aa;
    font-size: 26px;
    
}

body {
    margin: auto;
    width: 30%;
    padding: 10px;
}

fieldset{
    border-color: #f67280;
    border-style: solid;
    background-color: #C06c84;
}
