body {
background-color: rgb(187, 134, 236);
}

h1{
    font-size: 64px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

hr{
    border-color: black;
}

h2{
    font-size: 36px;
    color: rgb(236, 214, 236);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cosas{
    font-style: bold;
}

#poema{
    font-style: italic;
    text-decoration: wavy;
    text-decoration-line: underline;
    text-decoration-color: blueviolet;
    color: rgb(228, 236, 240);
    font-size: 28px;
    text-align: center;
}

p{
    text-shadow: 26px;
    text-shadow: rgb(236, 214, 236);
   font-size: 24px;
}

ul{
    font-size: 24px;
}

ol{
    font-size: 24px;
    font-style: oblique;
}

table{
    color: rgb(190, 187, 216);
    font-size: 20px;
    text-transform: capitalize;
}